/* 
    The CSS style sheet for our webview.
*/

/*=======================
    VSCode mermaid style
=========================*/
text {
    stroke:none;
    font-size: var(--vscode-editor-font-size) !important;
	font-family: var(--vscode-editor-font-family) !important;
}